<div mat-dialog-title   >
  <div class="dialog-title" >
  <h2>Edit Coupon</h2>
  </div>
</div>
<form [formGroup]="CouponsForm" (ngSubmit)="updateCoupon()">
<div mat-dialog-content>
  <div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="couponName" matInput type="text" placeholder="Big sale">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Conpon</mat-label>
    <input formControlName="coupon" matInput type="number" placeholder="20">
    <span matTextSuffix>%</span>
  </mat-form-field>

</div>
<div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Coupon Description </mat-label>
    <input formControlName="description" matInput type="text" placeholder="10% off each product">
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions class="actions">
  <button type="button"  mat-stroked-button (click)="exit()">Close</button>
  <button type="submit"  mat-stroked-button color="primary">Save</button>
</div>
 </form>
