.add
  height: 50px
  width: 300px
  margin-top: 20px
  font-size: 14px
  padding: 8px 22px
  font-weight: 600
  border-radius: 4px
  font-family: Rajdhani
  letter-spacing: 1.07px
  cursor: pointer
  transition: all 0.2s ease

.add:active
   transform: scale 0.96

.center
   width: 100%
   height: 3rem


.card-p
   display: flex
   flex-direction: column
   border-radius: 0.5rem
   background-color: #fff
   margin: 0.5rem 0rem 0rem -2rem
   box-shadow: 0 .25rem .5rem #e6edef
   height: 700px

@media ( min-width: 751px) and ( max-width: 1199px)
      .center
        width: 30%
@media ( max-width: 750px )
      .center
        width: 2%

.mat-mdc-form-field
  font-size: 14px
  width: 100%

.action-btn
   display: flex
   flex-direction : row
   gap: 10px
.action-btns
     margin:0 15px 0 10px

