<div mat-dialog-title   >
  <div class="dialog-title" >
  <h2>Update Product</h2>
  </div>
</div>
<form [formGroup]="ProductForm">

<div mat-dialog-content class="content">
  <div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Product</mat-label>
    <input formControlName="product_Name"   matInput type="text" placeholder="Iphone 14">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Catagory</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let cat of categoryList let i = index" [value]="categoryList[i]">{{categoryList[i]}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select formControlName="brand_Name">
      <mat-option *ngFor="let cat of brandList let i = index" [value]="brandList[i]">{{brandList[i]}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quntity</mat-label>
    <input formControlName="items_instock" matInput type="number" placeholder="ex. 20">
  </mat-form-field>

</div>
  <div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>SKU</mat-label>
    <input formControlName="sku" matInput type="number" placeholder="ex. 2331221">
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Update Date</mat-label>
    <input formControlName="update_Date" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>
<div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="product_Status">
      <mat-option value="In Stock">In Stock</mat-option>
      <mat-option value="Out of Stock">Out of Stock</mat-option>
      <mat-option value="Coming Soon">Coming Soon</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="unitPrice"  type="number" placeholder="2000">
    <span matTextPrefix>GH₵&nbsp;</span>
    <span matTextSuffix>.00</span>
  </mat-form-field>
</div>
<div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Product Description </mat-label>
    <input formControlName="description" matInput type="text" placeholder="ex. Electronics">
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions class="actions">
  <button type="button"  mat-stroked-button (click)="exit()">Close</button>
  <button type="submit"  mat-stroked-button (click)="updateproduct()" color="primary">Update</button>
</div>
 </form>
