<div mat-dialog-title   >
  <div class="dialog-title" >
  <h3>Add Customer</h3>
</div>
</div>
<form class="form" [formGroup]="CustomerForm" (ngSubmit)="addCustomer()">
  <div mat-dialog-content class="content">
    <div class="Rows">
  <mat-form-field appearance="outline">
    <mat-label>Customer Name</mat-label>
    <input formControlName="customer_Name" name="customer_Name" matInput type="text"placeholder="customer_Name">
  </mat-form-field>

<mat-form-field appearance="outline" >
  <mat-label>Customer Code</mat-label>
  <input formControlName="password" name="password" matInput type="text"placeholder="pass code">
</mat-form-field>
</div>
  <div class="Rows">

    <mat-form-field  appearance="outline">
      <mat-label>...Phone No</mat-label>
      <input formControlName="phone_no" name="phone_no" matInput type="number" placeholder=" 24 456 665">
      <span matTextPrefix>+233 &nbsp;</span>
    </mat-form-field>

    <mat-form-field  appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" name="email"  matInput type="email" placeholder="example@gmail.com">
    </mat-form-field>

</div>
<div class="Rows">
  <mat-form-field  appearance="outline">
    <mat-label>Customer Address</mat-label>
    <input formControlName="address" name="address"  matInput type="address" placeholder="P. O. BOX 233">
  </mat-form-field>

</div>

</div>
<div mat-dialog-actions class="actions">
  <button type="button"  mat-stroked-button (click)="exit()">Close</button>
  <button type="submit"  mat-stroked-button  color="primary">Save</button>
</div>
</form>
